.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 25vw;
  background-color: rgb(252, 246, 239);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(51, 66, 87, 0.2);
-moz-box-shadow: 0px 0px 10px 0px rgba(51, 66, 87, 0.2);
box-shadow: 0px 0px 10px 0px rgba(51, 66, 87, 0.2);
}

.form__input{
  outline-width: 0;
  width: 20vw;
  height: 45px;
  border: 1px solid lightgray;
  border-radius:5px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.form__input:focus {
  border: 1px solid lightblue;
  box-shadow: 0px 0px 7px 0px lightblue;
  -webkit-box-shadow: 0px 0px 7px 0px lightblue;
  -moz-box-shadow: 0px 0px 7px 0px lightblue;
}

textarea{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  padding-top: 10px;
}

.form__button{
  margin-top: 10px;
  background-color: lightgray;
  border: none;
  padding: 12px;
  font-size: 15px;
  cursor: pointer;
}

.form__button:hover{
  background-color: gray;
}

.reviews{
  display: flex;
  overflow-x: scroll;
}

.review{
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  width: 1000px !important;
  height: 200px;
}